@media only screen and (min-width: 64em) {
    body {
        max-width: 98%;
        margin-left: 1%;
        font-size: 1.2rem;
    }
    .container {
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
    }

    /*--------------- Grid Layout -----------------*/
    header {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: repeat(10, 1fr);
        border-bottom: none;
    }
    nav {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
        box-shadow: none;
        margin-left: 0;
        margin-top: 2%;
        background-color: transparent;
    }
    .hero {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-template-columns: repeat(10, 1fr);
    }
    .services-container {
        grid-column-start: 1;
        grid-column-end: 4;
        border: 1px solid rgb(102, 94, 79);
        border-radius: 5px;
        padding: .25rem;
        margin: 1rem;
        margin-top: 2rem;
    }
    .amenities-container {
        grid-column-start: 5;
        grid-column-end: 9;
        border: 1px solid rgb(102, 94, 79);
        border-radius: 5px;
        padding: .25rem;
        margin: 1rem;
        margin-top: 2rem;
    }
    .thankyou {
        grid-column-start: 1;
        grid-column-end: 8;
    }
    form {
        grid-column-start: 1;
        grid-column-end: 8;
        padding-left: 1%;
        display: flex;
        flex-flow: column;
        margin-left: 5%;
    }
    .slideshow-container {
        grid-column-start: 1;
        grid-column-end: 8;
        margin-left: 8%;
        max-width:80%;
        justify-items: center;
    }
    .slideshow-info {
        grid-column-start: 1;
        grid-column-end: 9;
    }
    footer {
        margin-left: 1%;
    }
    .templeimages {
        grid-column-start: 1;
        margin-right:5%;
    }
    /*------------ Header ----------------*/
    header h1 {
        font-size: 6rem;
        grid-column-start: 3;
    }

    .logo {
        margin-top: 20%;
    }
    /*--------------Nav------------------*/
    nav ul {
        display: grid;
        grid-auto-flow: column;
    }
    .site-navigation ul li:first-child {
        display: none;
    }
    .site-navigation {
        margin-right: 1%;
        margin-top: -1rem;
        width: 100%;
        box-shadow: 0px 3px 3px gray;
        background-color: rgb(102, 94, 79);
        box-shadow: 0px 3px 3px gray;
        text-align: center;
    }
    .site-navigation li {
        font-size: .75rem;
        align-content: center;
    }
    .site-navigation li a {
        border: none;
        padding: .2rem;
        margin: .5rem;
        font-size: 1.25rem;
    }
    /*----------- Slide Show ---------------*/
    .text {
        width: 94%;
        font-size: 25px;
        margin-bottom: 3%;
    }
    .numbertext {
        font-size: 15px;
    }
    .slideshow-container img {
        width: 100%;
    }
    /*--------------- Aside ------------------*/
    aside {
        font-size: 2rem;
    }
    /*--------------- Hero ------------------*/
    .hero {
        margin-left: 4%;
        margin-bottom: 3%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .hero h2 {
        grid-column-start: 1;
        grid-column-end: 8;
        font-size: 2.8rem;
    }
    .hero p {
        grid-column-start: 1;
        grid-column-end: 12;
        font-size: 2rem;
    }

  
    .button {
        grid-column-start: 3;
        grid-column-end: 6;
      
    }
    .button a {
        font-size: 2rem;
    }
    /*--------------- Thank You ------------------*/
    .thankyou #thanks {
        font-size: 1.75rem;
    }
    /*--------------- Form ------------------*/
    form h2 {
        padding-top: 5%;
        font-size: 2.5rem;
    }
    form legend {
        font-size: 1rem;
    }
    .form-container {
        grid-column-start: 1;
    }
    /*------------ Temple Menus ----------------*/
    .accordion {
        max-width: 99%;
        font-size:2rem;
    }
   
    /*------------ Contact Us ----------------*/
    .contact {
        margin: 0;
        border: none;
        padding: .5rem 2%;
        font-family: 'Quicksand', 'sans-serif';
        display: grid;
        grid-column-start: 1;
    }
    .contact p {
        margin-top: 10%;
    }
}